.navBarItem {
    display: flex;
    align-items: center;
    height: 24px;
}

.navBarItemH {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.menuItems {
    width: 50px;
}

.avatar {
    width: 25px;
    height: auto;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 21px;
    padding-top: 5px;
}

.avatarH {
    width: 31px;
    height: auto;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 21px;
    padding-top: 5px;
}