.isologo {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 60px;
    padding-left: 45px;
    padding-bottom: 20px;
}

