.postContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-left: 5px;
    margin-top: 35px;
    margin-right: 0;
    align-items: center;
}

.feedContent {
    height: 100vh; 
    overflow-y: auto;
    width: 100%;
}
