.devContainer {
    width: 21rem;
    padding: 15px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundLula {
    background-color: #f7c600;
}

.backgroundManu {
    background-color: #0dafb1;
}

.backgroundPau {
    background-color: #ea5b0c;
}

.backgroundDefault {
    background-color: #009ce6;
}

.avatar {
    width: 10rem;
    height: auto;
    border-radius: 100%;
    align-self: center;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.media {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 4px;
}

.user {
    color: white;
    font-size: 16px;
}