form {
  display: flex;            
  align-items: center;
}

.input_holder {
    background-color: rgba(153, 153, 153, 0.711);
    transition: 3ms;
    border-radius: 5px;
    height: 30px;
    padding: 0px 8px;
    margin-right: 3%;
    border: 2px solid #ea5b0c;
    width: 100%;
  }

  .publish-button {
    background-color: #ea5b0c;
    color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 9, 0.5);
    transition: 3ms;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  .publish-button:hover, .publish-button:active {
    background-color: #f7c600 ;
  }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

