.header {
    background-color: #009ce6;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: #173363;
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.goBack {
    cursor: pointer;
}