.post-card {
    border: 1px solid #ddd;
    /* padding: 10px; */
    padding: 0;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }

  .post-card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-image {
    width: 100%;
    height: auto;
  }
  
  /* .post-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 10px; 
  }

  .post-info p {
    margin: 0;
  }
  
  .has-text-right {
    text-align: right;
  } */
  