.footerContainer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a189bd ;   
}

.generalInformation {
    text-align-last: left;
    padding-left: 1%;
    color: white;
    font-size: 14px;
}
