.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    display: flex;
    background-color: #f7c600;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    max-width: 1200px;  
    max-height: 700px; 
    overflow: hidden;
  }

  .modal-card-body {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    max-width: 900px; 
    height: 600px;  
    width: 100%;
    height: 100%;
    overflow: hidden; 
  }


  .pic {
    /* flex-shrink: 0; */
    width: 65%;
    height: 100%;
    margin: 0;
  }


  .pic img {
    /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .data-container{
    width: 40%;
    background-color: #173363;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #0dafb1;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* image {
    width: 100%;
    height: 100%;
  } */

  /* figure .pic {
    width: 60%; 
    height: 100%; 
    margin: 0; 
  } */
  
  /* figure .pic img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover; 
  } */


  .post-header {
    /* border-bottom: 1px solid #353536;  */
    border-bottom: 1px solid #009ce6;
    padding-bottom: 10px;
  }
  
  .post-date {
    /* color: #8e8e8e; */
    color: #a189bd;
    font-size: 12px;
    margin-top: 5px;
  }

  .pic-description {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
  }

  .comments-section {
    /* margin-top: 10px; */
    max-height: 200px; 
    overflow-y: auto;
    /* border-top: 1px solid #353536; */
    border-top: 1px solid #009ce6;
    padding-top: 10px;
  }

  .comments-section p {
    font-size: 14px;
    color: #ffffff;
  }

  .buttons {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    /* width: 200px; */
    /* margin: 10px auto; */
    margin-top: 10px;
    position: relative;
    z-index: 1; 
  }

  
  .like-section,
  .comment-button,
  .share-button {
    font-size: 1.5em; 
    /* color: #262626; */
    color: #ea5b0c;
    cursor: pointer;
  }
  
  
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2em; 
  }



  