.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-card-body {
    max-width: 90%;
  }

  .modal-content {
    justify-content: center;
    display: flex;
  }

  .modal-card-body {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    max-width: 900px; 
    height: 600px;  
    width: 100%;
    height: 100%;
    overflow: hidden; 
  }

  .pic {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  .pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  
  .data-container{
    width: 100%;
    background-color: #173363;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #0dafb1;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .post-header {
    /* border-bottom: 1px solid #353536;  */
    border-bottom: 1px solid #009ce6;
  }
  
  .post-date {
    /* color: #8e8e8e; */
    color: #a189bd;
    font-size: 12px;
    margin-top: 5px;
  }

  .pic-description {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
  }

  .comments-section {
    /* margin-top: 10px; */
    max-height: 200px; 
    overflow-y: auto;
    /* border-top: 1px solid #353536; */
    border-top: 1px solid #009ce6;
    padding-top: 10px;
  }

  .comments-section p {
    font-size: 14px;
    color: #ffffff;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* width: 200px; */
    /* margin: 10px auto; */
    position: relative;
    z-index: 1; 
  }
  
  .like-section,
  .comment-button,
  .share-button {
    font-size: 1.5em; 
    /* color: #262626; */
    color: #ea5b0c;
    cursor: pointer;
  }
  
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2em; 
  }

  @media (max-width: 768px) {
    .modal-card-body {
      margin-left: 1rem;
      margin-right: 1rem;
      max-width: 90%;
    }
  
    .data-container {
      padding: 10px;
    }
  }
  
  @media (max-width: 580px) {
    .modal-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: auto;
    }
  
    .modal-card-body {
      flex-direction: column;
      max-width: 70%;
    }

    .pic {
      position: relative;
      width: 50%;
      max-width: 50%;
      overflow: hidden;
    }
    
    .pic img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  
    .comments-section {
      max-height: 120px;
    }

    .data-container {
      border-top: 5px solid #0dafb1;
      border-left: none;
    }
  }



  